<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body> 
<div class="row">
	<header class="">
	      <nav class="navbar navbar-expand-lg">
	        <div class="container">
	          <a class="navbar-brand" href="/"><h2>JeJu <em style="color: orange">Thymeleaf</em></h2></a>
	          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	          </button>
	          <div class="collapse navbar-collapse" id="navbarResponsive">
	            <ul class="navbar-nav ml-auto">
	              <li class="nav-item">
	                <a class="nav-link" href="/">홈</a>
	              </li> 
	              <li class="nav-item">
	                <a class="nav-link" href="/jeju/travel_list">제주여행</a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="/food/food_find">제주 맛집 검색</a>
	              </li>
	              <li class="nav-item">
	                <a class="nav-link" href="/board/board_list">게시판</a>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </nav>
	</header>
</div>
</body>
</html>